/* for custom style add:
 * %special.css
 * to the page
 */

.author {
   font-weight: 777;
}

/* hide date field (3rd % line) */

.date {
    display: none;
}

#title-block-header {
  padding: unset;
  margin-top: unset;
  min-height: unset;
  background: unset;
}


figcaption {
    float: unset;
    clear: unset;
    font-size: 3rem;
    margin-top: -4rem;
    margin-bottom: -2rem;
    margin-left: 2rem;
    max-width: unset;
    color: beige;
  }

img.icon {
  max-width: 80vw;
  float: unset;
  margin: unset;
  padding: unset;
  border-radius: unset;
  filter: unset;
}
